# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
    config.vm.box = "ubuntu/vivid64"
    #config.vm.box_url = "https://vagrantcloud.com/ubuntu/boxes/vivid64"
	#config.vm.network :forwarded_port, host: 8080, guest: 80
	config.vm.network :forwarded_port, host: 13303, guest: 13303
	config.vm.network :forwarded_port, host: 4567, guest: 4567
	config.vm.network :forwarded_port, host: 3000, guest: 3000
    config.vm.provision :shell, :path => "vagrant/provision.sh"
	
	config.vm.provider "virtualbox" do |v|
	  v.memory = 2048
	  # Enable usb and usb 2.0
	  v.customize ["modifyvm", :id, "--usb", "on", "--usbehci", "on"]

	  # Get the vendorid using sudo lsusb.
	  # Remeber to enable "Android debugging" on your phone too
		v.customize ["usbfilter", "add", "0", "--target", :id, "--name", "android", "--vendorid", "0x05c6"]

	end

end

